<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title><%= title %></title>
  <link href="/main.css" rel="stylesheet" type="text/css" />
  <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/oauth2-c28ca.appspot.com/o/insta.png?alt=media&token=593dc685-a8a1-4560-bc40-c12c99c1350a">
</head>
